@font-face {
    font-family: 'Stardew';
    src: url('Stardew\ Valley\ ALL\ CAPS.ttf') format('truetype');
}

body {
    background-color: #a053f1;
    color: rgb(20, 94, 10);
    font-family: 'Stardew', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

.image-lago{
    background-image: url("/img/parqueamb.jpg");
}
button {
    background-color: #97031c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
